In [1]:
#Importamos las librerias
import pandas as pd
import geopandas as gpd

In [2]:
#Cargamos el shp de los estados de usa
#Descargado del link: https://www.arcgis.com/home/item.html?id=f7f805eb65eb4ab787a0a3e1116ca7e5
shp_usa_states="../TP1/Data/Mapas/Estados_Usa/states.shp"
usa_estados=gpd.read_file(shp_usa_states)
usa_estados=usa_estados[(usa_estados['STATE_NAME']!='Alaska') & (usa_estados['STATE_NAME']!='Hawaii')]
usa_estados.head()

,STATE_NAME,DRAWSEQ,STATE_FIPS,SUB_REGION,STATE_ABBR,geometry
1,Washington,2,53,Pacific,WA,"MULTIPOLYGON (((-122.40202 48.22522, -122.4628..."
2,Montana,3,30,Mountain,MT,"POLYGON ((-111.47543 44.70216, -111.48080 44.6..."
3,Maine,4,23,New England,ME,"MULTIPOLYGON (((-69.77728 44.07415, -69.85993 ..."
4,North Dakota,5,38,West North Central,ND,"POLYGON ((-98.73044 45.93827, -99.00683 45.939..."
5,South Dakota,6,46,West North Central,SD,"POLYGON ((-102.78838 42.99530, -103.00588 42.9..."

In [3]:
extraido=usa_estados[['STATE_NAME','STATE_ABBR']].copy()
extraido.rename(columns={'STATE_NAME':'Nombre_Estado','STATE_ABBR':'Abreviacion_Estado'},inplace=True)
extraido.head()

  Nombre_Estado Abreviacion_Estado
1    Washington                 WA
2       Montana                 MT
3         Maine                 ME
4  North Dakota                 ND
5  South Dakota                 SD

In [4]:
extraido.to_csv('Estados_USA.csv')