In [1]:
#Importamos las librerias
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#Cargamos el csv
tweets=pd.read_csv('../TP1/Data/CSV/train.csv')
tweets.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
#Creamos columnas para saber si tienen los distintos tipos de caracteres
tweets['Tiene_arroba']=tweets['text'].str.contains('@')
tweets['Tiene_hashtag']=tweets['text'].str.contains('#')
tweets['Tiene_signo_pregunta']=tweets['text'].str.contains('\?|¿')
tweets['Tiene_signo_exclamacion']=tweets['text'].str.contains('!|¡')
tweets['Tiene_link']=tweets['text'].str.contains('https')

In [4]:
hashtag=tweets.copy()
hashtag=hashtag[(hashtag['Tiene_hashtag']==True)]
hashtag=pd.concat([hashtag, hashtag['text'].str.split('#', expand=True)], axis=1)
hashtag.drop(columns={0},inplace=True)
hashtag.rename(columns={1:'Primero',2:'Segundo',3:'Tercero',4:'Cuarto',5:'Quinto',6:'Sexto',7:'Septimo',8:'Octavo',9:'Noveno',10:'Decimo',11:'Decimoprimero',12:'Decimosegundo',13:'Decimotercero'},inplace=True)
hashtag.head()

,id,keyword,location,text,target,Tiene_arroba,Tiene_hashtag,Tiene_signo_pregunta,Tiene_signo_exclamacion,Tiene_link,...,Cuarto,Quinto,Sexto,Septimo,Octavo,Noveno,Decimo,Decimoprimero,Decimosegundo,Decimotercero
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,False,True,False,False,False,...,None,None,None,None,None,None,None,None,None,None
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,False,True,False,False,False,...,None,None,None,None,None,None,None,None,None,None
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,False,True,False,False,False,...,None,None,None,None,None,None,None,None,None,None
5,8,NaN,NaN,#RockyFire Update => California Hwy. 20 closed...,1,False,True,False,False,False,...,None,None,None,None,None,None,None,None,None,None
6,10,NaN,NaN,#flood #disaster Heavy rain causes flash flood...,1,False,True,False,False,False,...,None,None,None,None,None,None,None,None,None,None

In [5]:
hashtag_primero=hashtag[['Primero','target']].copy()
hashtag_primero['Primero']=hashtag['Primero'].str.capitalize()
hashtag_primero=pd.concat([hashtag_primero, hashtag_primero['Primero'].str.split(' ', expand=True)], axis=1)
hashtag_primero.rename(columns={0:'Hashtag'},inplace=True)
hashtag_primero=hashtag_primero[['Hashtag','target']]
hashtag_primero=hashtag_primero[(hashtag_primero['Hashtag']!='')]
hashtag_primero_real=hashtag_primero[(hashtag_primero['target']==1)]
hashtag_primero_falso=hashtag_primero[(hashtag_primero['target']==0)]
hashtag_cantidad_primero=hashtag_primero['Hashtag'].value_counts().reset_index()
hashtag_cantidad_primero_real=hashtag_primero_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_primero_falso=hashtag_primero_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_primero.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_primero_total'},inplace=True)
hashtag_cantidad_primero_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_primero_real'},inplace=True)
hashtag_cantidad_primero_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_primero_falso'},inplace=True)
hashtag_cantidad_primero_total=pd.merge(hashtag_cantidad_primero,hashtag_cantidad_primero_real,on='Hashtag',how='left')
hashtag_cantidad_primero_total=pd.merge(hashtag_cantidad_primero_total,hashtag_cantidad_primero_falso,on='Hashtag',how='left')
hashtag_cantidad_primero_total.fillna(0,inplace=True)
hashtag_cantidad_primero_total.head()

,Hashtag,Cantidad_primero_total,Cantidad_primero_real,Cantidad_primero_falso
0,Hot,31,13.0,18.0
1,News,29,23.0,6.0
2,Earthquake,19,19.0,0.0
3,Nowplaying,18,1.0,17.0
4,Hiroshima,16,16.0,0.0

In [6]:
hashtag_segundo=hashtag[['Segundo','target']].copy()
hashtag_segundo['Segundo']=hashtag['Segundo'].str.capitalize()
hashtag_segundo=pd.concat([hashtag_segundo, hashtag_segundo['Segundo'].str.split(' ', expand=True)], axis=1)
hashtag_segundo.rename(columns={0:'Hashtag'},inplace=True)
hashtag_segundo=hashtag_segundo[['Hashtag','target']]
hashtag_segundo=hashtag_segundo[(hashtag_segundo['Hashtag']!='')]
hashtag_segundo_real=hashtag_segundo[(hashtag_segundo['target']==1)]
hashtag_segundo_falso=hashtag_segundo[(hashtag_segundo['target']==0)]
hashtag_cantidad_segundo=hashtag_segundo['Hashtag'].value_counts().reset_index()
hashtag_cantidad_segundo_real=hashtag_segundo_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_segundo_falso=hashtag_segundo_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_segundo.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_segundo_total'},inplace=True)
hashtag_cantidad_segundo_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_segundo_real'},inplace=True)
hashtag_cantidad_segundo_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_segundo_falso'},inplace=True)
hashtag_cantidad_segundo_total=pd.merge(hashtag_cantidad_segundo,hashtag_cantidad_segundo_real,on='Hashtag',how='left')
hashtag_cantidad_segundo_total=pd.merge(hashtag_cantidad_segundo_total,hashtag_cantidad_segundo_falso,on='Hashtag',how='left')
hashtag_cantidad_segundo_total.fillna(0,inplace=True)
hashtag_cantidad_segundo_total.head()

,Hashtag,Cantidad_segundo_total,Cantidad_segundo_real,Cantidad_segundo_falso
0,News,32,23.0,9.0
1,Prebreak,30,13.0,17.0
2,Islam,9,3.0,6.0
3,??,7,7.0,0.0
4,Bbc\n,7,4.0,3.0

In [7]:
hashtag_tercero=hashtag[['Tercero','target']].copy()
hashtag_tercero['Tercero']=hashtag['Tercero'].str.capitalize()
hashtag_tercero=pd.concat([hashtag_tercero, hashtag_tercero['Tercero'].str.split(' ', expand=True)], axis=1)
hashtag_tercero.rename(columns={0:'Hashtag'},inplace=True)
hashtag_tercero=hashtag_tercero[['Hashtag','target']]
hashtag_tercero=hashtag_tercero[(hashtag_tercero['Hashtag']!='')]
hashtag_tercero_real=hashtag_tercero[(hashtag_tercero['target']==1)]
hashtag_tercero_falso=hashtag_tercero[(hashtag_tercero['target']==0)]
hashtag_cantidad_tercero=hashtag_tercero['Hashtag'].value_counts().reset_index()
hashtag_cantidad_tercero_real=hashtag_tercero_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_tercero_falso=hashtag_tercero_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_tercero.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_tercero_total'},inplace=True)
hashtag_cantidad_tercero_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_tercero_real'},inplace=True)
hashtag_cantidad_tercero_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_tercero_falso'},inplace=True)
hashtag_cantidad_tercero_total=pd.merge(hashtag_cantidad_tercero,hashtag_cantidad_tercero_real,on='Hashtag',how='left')
hashtag_cantidad_tercero_total=pd.merge(hashtag_cantidad_tercero_total,hashtag_cantidad_tercero_falso,on='Hashtag',how='left')
hashtag_cantidad_tercero_total.fillna(0,inplace=True)
hashtag_cantidad_tercero_total.head()

,Hashtag,Cantidad_tercero_total,Cantidad_tercero_real,Cantidad_tercero_falso
0,Best,30,13.0,17.0
1,???,10,10.0,0.0
2,Cnn\n,7,4.0,3.0
3,Dnb,7,0.0,7.0
4,Sittwe,5,5.0,0.0

In [8]:
hashtag_cuarto=hashtag[['Cuarto','target']].copy()
hashtag_cuarto['Cuarto']=hashtag['Cuarto'].str.capitalize()
hashtag_cuarto=pd.concat([hashtag_cuarto, hashtag_cuarto['Cuarto'].str.split(' ', expand=True)], axis=1)
hashtag_cuarto.rename(columns={0:'Hashtag'},inplace=True)
hashtag_cuarto=hashtag_cuarto[['Hashtag','target']]
hashtag_cuarto=hashtag_cuarto[(hashtag_cuarto['Hashtag']!='')]
hashtag_cuarto_real=hashtag_cuarto[(hashtag_cuarto['target']==1)]
hashtag_cuarto_falso=hashtag_cuarto[(hashtag_cuarto['target']==0)]
hashtag_cantidad_cuarto=hashtag_cuarto['Hashtag'].value_counts().reset_index()
hashtag_cantidad_cuarto_real=hashtag_cuarto_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_cuarto_falso=hashtag_cuarto_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_cuarto.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_cuarto_total'},inplace=True)
hashtag_cantidad_cuarto_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_cuarto_real'},inplace=True)
hashtag_cantidad_cuarto_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_cuarto_falso'},inplace=True)
hashtag_cantidad_cuarto_total=pd.merge(hashtag_cantidad_cuarto,hashtag_cantidad_cuarto_real,on='Hashtag',how='left')
hashtag_cantidad_cuarto_total=pd.merge(hashtag_cantidad_cuarto_total,hashtag_cantidad_cuarto_falso,on='Hashtag',how='left')
hashtag_cantidad_cuarto_total.fillna(0,inplace=True)
hashtag_cantidad_cuarto_total.head()

   Hashtag  Cantidad_cuarto_total  Cantidad_cuarto_real  Cantidad_cuarto_falso
0      ???                     10                  10.0                    0.0
1     Jobs                      9                   0.0                    9.0
2  Islam\n                      7                   4.0                    3.0
3      Edm                      7                   0.0                    7.0
4   Models                      4                   0.0                    4.0

In [9]:
hashtag_quinto=hashtag[['Quinto','target']].copy()
hashtag_quinto['Quinto']=hashtag['Quinto'].str.capitalize()
hashtag_quinto=pd.concat([hashtag_quinto, hashtag_quinto['Quinto'].str.split(' ', expand=True)], axis=1)
hashtag_quinto.rename(columns={0:'Hashtag'},inplace=True)
hashtag_quinto=hashtag_quinto[['Hashtag','target']]
hashtag_quinto=hashtag_quinto[(hashtag_quinto['Hashtag']!='')]
hashtag_quinto_real=hashtag_quinto[(hashtag_quinto['target']==1)]
hashtag_quinto_falso=hashtag_quinto[(hashtag_quinto['target']==0)]
hashtag_cantidad_quinto=hashtag_quinto['Hashtag'].value_counts().reset_index()
hashtag_cantidad_quinto_real=hashtag_quinto_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_quinto_falso=hashtag_quinto_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_quinto.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_quinto_total'},inplace=True)
hashtag_cantidad_quinto_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_quinto_real'},inplace=True)
hashtag_cantidad_quinto_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_quinto_falso'},inplace=True)
hashtag_cantidad_quinto_total=pd.merge(hashtag_cantidad_quinto,hashtag_cantidad_quinto_real,on='Hashtag',how='left')
hashtag_cantidad_quinto_total=pd.merge(hashtag_cantidad_quinto_total,hashtag_cantidad_quinto_falso,on='Hashtag',how='left')
hashtag_cantidad_quinto_total.fillna(0,inplace=True)
hashtag_cantidad_quinto_total.head()

,Hashtag,Cantidad_quinto_total,Cantidad_quinto_real,Cantidad_quinto_falso
0,Dance,7,0.0,7.0
1,Truth\n,7,4.0,3.0
2,Mayhem,4,0.0,4.0
3,Terrorism,3,3.0,0.0
4,Ban,3,2.0,1.0

In [10]:
hashtag_sexto=hashtag[['Sexto','target']].copy()
hashtag_sexto['Sexto']=hashtag['Sexto'].str.capitalize()
hashtag_sexto=pd.concat([hashtag_sexto, hashtag_sexto['Sexto'].str.split(' ', expand=True)], axis=1)
hashtag_sexto.rename(columns={0:'Hashtag'},inplace=True)
hashtag_sexto=hashtag_sexto[['Hashtag','target']]
hashtag_sexto=hashtag_sexto[(hashtag_sexto['Hashtag']!='')]
hashtag_sexto_real=hashtag_sexto[(hashtag_sexto['target']==1)]
hashtag_sexto_falso=hashtag_sexto[(hashtag_sexto['target']==0)]
hashtag_cantidad_sexto=hashtag_sexto['Hashtag'].value_counts().reset_index()
hashtag_cantidad_sexto_real=hashtag_sexto_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_sexto_falso=hashtag_sexto_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_sexto.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_sexto_total'},inplace=True)
hashtag_cantidad_sexto_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_sexto_real'},inplace=True)
hashtag_cantidad_sexto_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_sexto_falso'},inplace=True)
hashtag_cantidad_sexto_total=pd.merge(hashtag_cantidad_sexto,hashtag_cantidad_sexto_real,on='Hashtag',how='left')
hashtag_cantidad_sexto_total=pd.merge(hashtag_cantidad_sexto_total,hashtag_cantidad_sexto_falso,on='Hashtag',how='left')
hashtag_cantidad_sexto_total.fillna(0,inplace=True)
hashtag_cantidad_sexto_total.head()

,Hashtag,Cantidad_sexto_total,Cantidad_sexto_real,Cantidad_sexto_falso
0,God\n,7,4.0,3.0
1,Icesû_,7,0.0,7.0
2,Humanconsumption,3,2.0,1.0
3,Africa,3,3.0,0.0
4,Astrology,2,0.0,2.0

In [11]:
hashtag_septimo=hashtag[['Septimo','target']].copy()
hashtag_septimo['Septimo']=hashtag['Septimo'].str.capitalize()
hashtag_septimo=pd.concat([hashtag_septimo, hashtag_septimo['Septimo'].str.split(' ', expand=True)], axis=1)
hashtag_septimo.rename(columns={0:'Hashtag'},inplace=True)
hashtag_septimo=hashtag_septimo[['Hashtag','target']]
hashtag_septimo=hashtag_septimo[(hashtag_septimo['Hashtag']!='')]
hashtag_septimo_real=hashtag_septimo[(hashtag_septimo['target']==1)]
hashtag_septimo_falso=hashtag_septimo[(hashtag_septimo['target']==0)]
hashtag_cantidad_septimo=hashtag_septimo['Hashtag'].value_counts().reset_index()
hashtag_cantidad_septimo_real=hashtag_septimo_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_septimo_falso=hashtag_septimo_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_septimo.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_septimo_total'},inplace=True)
hashtag_cantidad_septimo_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_septimo_real'},inplace=True)
hashtag_cantidad_septimo_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_septimo_falso'},inplace=True)
hashtag_cantidad_septimo_total=pd.merge(hashtag_cantidad_septimo,hashtag_cantidad_septimo_real,on='Hashtag',how='left')
hashtag_cantidad_septimo_total=pd.merge(hashtag_cantidad_septimo_total,hashtag_cantidad_septimo_falso,on='Hashtag',how='left')
hashtag_cantidad_septimo_total.fillna(0,inplace=True)
hashtag_cantidad_septimo_total.head()

,Hashtag,Cantidad_septimo_total,Cantidad_septimo_real,Cantidad_septimo_falso
0,Isis\n,7,4.0,3.0
1,Nytimes,3,3.0,0.0
2,Ap,3,3.0,0.0
3,Rtrrt,2,0.0,2.0
4,Tree,2,1.0,1.0

In [12]:
hashtag_octavo=hashtag[['Octavo','target']].copy()
hashtag_octavo['Octavo']=hashtag['Octavo'].str.capitalize()
hashtag_octavo=pd.concat([hashtag_octavo, hashtag_octavo['Octavo'].str.split(' ', expand=True)], axis=1)
hashtag_octavo.rename(columns={0:'Hashtag'},inplace=True)
hashtag_octavo=hashtag_octavo[['Hashtag','target']]
hashtag_octavo=hashtag_octavo[(hashtag_octavo['Hashtag']!='')]
hashtag_octavo_real=hashtag_octavo[(hashtag_octavo['target']==1)]
hashtag_octavo_falso=hashtag_octavo[(hashtag_octavo['target']==0)]
hashtag_cantidad_octavo=hashtag_octavo['Hashtag'].value_counts().reset_index()
hashtag_cantidad_octavo_real=hashtag_octavo_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_octavo_falso=hashtag_octavo_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_octavo.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_octavo_total'},inplace=True)
hashtag_cantidad_octavo_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_octavo_real'},inplace=True)
hashtag_cantidad_octavo_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_octavo_falso'},inplace=True)
hashtag_cantidad_octavo_total=pd.merge(hashtag_cantidad_octavo,hashtag_cantidad_octavo_real,on='Hashtag',how='left')
hashtag_cantidad_octavo_total=pd.merge(hashtag_cantidad_octavo_total,hashtag_cantidad_octavo_falso,on='Hashtag',how='left')
hashtag_cantidad_octavo_total.fillna(0,inplace=True)
hashtag_cantidad_octavo_total.head()

,Hashtag,Cantidad_octavo_total,Cantidad_octavo_real,Cantidad_octavo_falso
0,Terrorism\n,7,4.0,3.0
1,Ts,3,3.0,0.0
2,Lotz,2,0.0,2.0
3,Uk,2,2.0,0.0
4,Business,1,0.0,1.0

In [13]:
hashtag_noveno=hashtag[['Noveno','target']].copy()
hashtag_noveno['Noveno']=hashtag['Noveno'].str.capitalize()
hashtag_noveno=pd.concat([hashtag_noveno, hashtag_noveno['Noveno'].str.split(' ', expand=True)], axis=1)
hashtag_noveno.rename(columns={0:'Hashtag'},inplace=True)
hashtag_noveno=hashtag_noveno[['Hashtag','target']]
hashtag_noveno=hashtag_noveno[(hashtag_noveno['Hashtag']!='')]
hashtag_noveno_real=hashtag_noveno[(hashtag_noveno['target']==1)]
hashtag_noveno_falso=hashtag_noveno[(hashtag_noveno['target']==0)]
hashtag_cantidad_noveno=hashtag_noveno['Hashtag'].value_counts().reset_index()
hashtag_cantidad_noveno_real=hashtag_noveno_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_noveno_falso=hashtag_noveno_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_noveno.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_noveno_total'},inplace=True)
hashtag_cantidad_noveno_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_noveno_real'},inplace=True)
hashtag_cantidad_noveno_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_noveno_falso'},inplace=True)
hashtag_cantidad_noveno_total=pd.merge(hashtag_cantidad_noveno,hashtag_cantidad_noveno_real,on='Hashtag',how='left')
hashtag_cantidad_noveno_total=pd.merge(hashtag_cantidad_noveno_total,hashtag_cantidad_noveno_falso,on='Hashtag',how='left')
hashtag_cantidad_noveno_total.fillna(0,inplace=True)
hashtag_cantidad_noveno_total.head()

,Hashtag,Cantidad_noveno_total,Cantidad_noveno_real,Cantidad_noveno_falso
0,Quran\n,7,4.0,3.0
1,Nri,3,3.0,0.0
2,Apocalypse,2,0.0,2.0
3,Wsj,1,1.0,0.0
4,Alberta,1,1.0,0.0

In [14]:
hashtag_decimo=hashtag[['Decimo','target']].copy()
hashtag_decimo['Decimo']=hashtag['Decimo'].str.capitalize()
hashtag_decimo=pd.concat([hashtag_decimo, hashtag_decimo['Decimo'].str.split(' ', expand=True)], axis=1)
hashtag_decimo.rename(columns={0:'Hashtag'},inplace=True)
hashtag_decimo=hashtag_decimo[['Hashtag','target']]
hashtag_decimo=hashtag_decimo[(hashtag_decimo['Hashtag']!='')]
hashtag_decimo_real=hashtag_decimo[(hashtag_decimo['target']==1)]
hashtag_decimo_falso=hashtag_decimo[(hashtag_decimo['target']==0)]
hashtag_cantidad_decimo=hashtag_decimo['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimo_real=hashtag_decimo_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimo_falso=hashtag_decimo_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimo.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimo_total'},inplace=True)
hashtag_cantidad_decimo_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimo_real'},inplace=True)
hashtag_cantidad_decimo_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimo_falso'},inplace=True)
hashtag_cantidad_decimo_total=pd.merge(hashtag_cantidad_decimo,hashtag_cantidad_decimo_real,on='Hashtag',how='left')
hashtag_cantidad_decimo_total=pd.merge(hashtag_cantidad_decimo_total,hashtag_cantidad_decimo_falso,on='Hashtag',how='left')
hashtag_cantidad_decimo_total.fillna(0,inplace=True)
hashtag_cantidad_decimo_total.head()

,Hashtag,Cantidad_decimo_total,Cantidad_decimo_real,Cantidad_decimo_falso
0,Lies,7,4.0,3.0
1,News,3,3.0,0.0
2,Armageddon,2,0.0,2.0
3,De,1,1.0,0.0
4,Emsc,1,1.0,0.0

In [15]:
hashtag_decimoprimero=hashtag[['Decimoprimero','target']].copy()
hashtag_decimoprimero['Decimoprimero']=hashtag['Decimoprimero'].str.capitalize()
hashtag_decimoprimero=pd.concat([hashtag_decimoprimero, hashtag_decimoprimero['Decimoprimero'].str.split(' ', expand=True)], axis=1)
hashtag_decimoprimero.rename(columns={0:'Hashtag'},inplace=True)
hashtag_decimoprimero=hashtag_decimoprimero[['Hashtag','target']]
hashtag_decimoprimero=hashtag_decimoprimero[(hashtag_decimoprimero['Hashtag']!='')]
hashtag_decimoprimero_real=hashtag_decimoprimero[(hashtag_decimoprimero['target']==1)]
hashtag_decimoprimero_falso=hashtag_decimoprimero[(hashtag_decimoprimero['target']==0)]
hashtag_cantidad_decimoprimero=hashtag_decimoprimero['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimoprimero_real=hashtag_decimoprimero_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimoprimero_falso=hashtag_decimoprimero_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimoprimero.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimoprimero_total'},inplace=True)
hashtag_cantidad_decimoprimero_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimoprimero_real'},inplace=True)
hashtag_cantidad_decimoprimero_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimoprimero_falso'},inplace=True)
hashtag_cantidad_decimoprimero_total=pd.merge(hashtag_cantidad_decimoprimero,hashtag_cantidad_decimoprimero_real,on='Hashtag',how='left')
hashtag_cantidad_decimoprimero_total=pd.merge(hashtag_cantidad_decimoprimero_total,hashtag_cantidad_decimoprimero_falso,on='Hashtag',how='left')
hashtag_cantidad_decimoprimero_total.fillna(0,inplace=True)
hashtag_cantidad_decimoprimero_total.head()

,Hashtag,Cantidad_decimoprimero_total,Cantidad_decimoprimero_real,Cantidad_decimoprimero_falso
0,Trs,3,3.0,0.0
1,1008planetû_,1,0.0,1.0
2,1008plaû_,1,0.0,1.0
3,Ca,1,1.0,0.0

In [16]:
hashtag_decimosegundo=hashtag[['Decimosegundo','target']].copy()
hashtag_decimosegundo['Decimosegundo']=hashtag['Decimosegundo'].str.capitalize()
hashtag_decimosegundo=pd.concat([hashtag_decimosegundo, hashtag_decimosegundo['Decimosegundo'].str.split(' ', expand=True)], axis=1)
hashtag_decimosegundo.rename(columns={0:'Hashtag'},inplace=True)
hashtag_decimosegundo=hashtag_decimosegundo[['Hashtag','target']]
hashtag_decimosegundo=hashtag_decimosegundo[(hashtag_decimosegundo['Hashtag']!='')]
hashtag_decimosegundo_real=hashtag_decimosegundo[(hashtag_decimosegundo['target']==1)]
hashtag_decimosegundo_falso=hashtag_decimosegundo[(hashtag_decimosegundo['target']==0)]
hashtag_cantidad_decimosegundo=hashtag_decimosegundo['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimosegundo_real=hashtag_decimosegundo_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimosegundo_falso=hashtag_decimosegundo_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimosegundo.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimosegundo_total'},inplace=True)
hashtag_cantidad_decimosegundo_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimosegundo_real'},inplace=True)
hashtag_cantidad_decimosegundo_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimosegundo_falso'},inplace=True)
hashtag_cantidad_decimosegundo_total=pd.merge(hashtag_cantidad_decimosegundo,hashtag_cantidad_decimosegundo_real,on='Hashtag',how='left')
hashtag_cantidad_decimosegundo_total=pd.merge(hashtag_cantidad_decimosegundo_total,hashtag_cantidad_decimosegundo_falso,on='Hashtag',how='left')
hashtag_cantidad_decimosegundo_total.fillna(0,inplace=True)
hashtag_cantidad_decimosegundo_total.head()

,Hashtag,Cantidad_decimosegundo_total,Cantidad_decimosegundo_real,Cantidad_decimosegundo_falso
0,Tdp,3,3,0.0
1,Au,1,1,0.0

In [17]:
hashtag_decimotercero=hashtag[['Decimotercero','target']].copy()
hashtag_decimotercero['Decimotercero']=hashtag['Decimotercero'].str.capitalize()
hashtag_decimotercero=pd.concat([hashtag_decimotercero, hashtag_decimotercero['Decimotercero'].str.split(' ', expand=True)], axis=1)
hashtag_decimotercero.rename(columns={0:'Hashtag'},inplace=True)
hashtag_decimotercero=hashtag_decimotercero[['Hashtag','target']]
hashtag_decimotercero=hashtag_decimotercero[(hashtag_decimotercero['Hashtag']!='')]
hashtag_decimotercero_real=hashtag_decimotercero[(hashtag_decimotercero['target']==1)]
hashtag_decimotercero_falso=hashtag_decimotercero[(hashtag_decimotercero['target']==0)]
hashtag_cantidad_decimotercero=hashtag_decimotercero['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimotercero_real=hashtag_decimotercero_real['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimotercero_falso=hashtag_decimotercero_falso['Hashtag'].value_counts().reset_index()
hashtag_cantidad_decimotercero.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimotercero_total'},inplace=True)
hashtag_cantidad_decimotercero_real.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimotercero_real'},inplace=True)
hashtag_cantidad_decimotercero_falso.rename(columns={'index':'Hashtag','Hashtag':'Cantidad_decimotercero_falso'},inplace=True)
hashtag_cantidad_decimotercero_total=pd.merge(hashtag_cantidad_decimotercero,hashtag_cantidad_decimotercero_real,on='Hashtag',how='left')
hashtag_cantidad_decimotercero_total=pd.merge(hashtag_cantidad_decimotercero_total,hashtag_cantidad_decimotercero_falso,on='Hashtag',how='left')
hashtag_cantidad_decimotercero_total.fillna(0,inplace=True)
hashtag_cantidad_decimotercero_total.head()

,Hashtag,Cantidad_decimotercero_total,Cantidad_decimotercero_real,Cantidad_decimotercero_falso
0,Bjp,3,3,0.0
1,Jp,1,1,0.0

In [18]:
hashtag_cantidad_total=pd.merge(hashtag_cantidad_primero_total,hashtag_cantidad_segundo_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_tercero_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_cuarto_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_quinto_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_sexto_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_septimo_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_octavo_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_noveno_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_decimo_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_decimoprimero_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_decimosegundo_total,on='Hashtag',how='outer')
hashtag_cantidad_total=pd.merge(hashtag_cantidad_total,hashtag_cantidad_decimotercero_total,on='Hashtag',how='outer')
hashtag_cantidad_total.fillna(0,inplace=True)
hashtag_cantidad_total['Cantidad_total']=hashtag_cantidad_total['Cantidad_primero_total']+hashtag_cantidad_total['Cantidad_segundo_total']+hashtag_cantidad_total['Cantidad_tercero_total']+hashtag_cantidad_total['Cantidad_cuarto_total']+hashtag_cantidad_total['Cantidad_quinto_total']+hashtag_cantidad_total['Cantidad_sexto_total']+hashtag_cantidad_total['Cantidad_septimo_total']+hashtag_cantidad_total['Cantidad_octavo_total']+hashtag_cantidad_total['Cantidad_noveno_total']+hashtag_cantidad_total['Cantidad_decimo_total']+hashtag_cantidad_total['Cantidad_decimoprimero_total']+hashtag_cantidad_total['Cantidad_decimosegundo_total']+hashtag_cantidad_total['Cantidad_decimotercero_total']
hashtag_cantidad_total['Cantidad_real']=hashtag_cantidad_total['Cantidad_primero_real']+hashtag_cantidad_total['Cantidad_segundo_real']+hashtag_cantidad_total['Cantidad_tercero_real']+hashtag_cantidad_total['Cantidad_cuarto_real']+hashtag_cantidad_total['Cantidad_quinto_real']+hashtag_cantidad_total['Cantidad_sexto_real']+hashtag_cantidad_total['Cantidad_septimo_real']+hashtag_cantidad_total['Cantidad_octavo_real']+hashtag_cantidad_total['Cantidad_noveno_real']+hashtag_cantidad_total['Cantidad_decimo_real']+hashtag_cantidad_total['Cantidad_decimoprimero_real']+hashtag_cantidad_total['Cantidad_decimosegundo_real']+hashtag_cantidad_total['Cantidad_decimotercero_real']
hashtag_cantidad_total['Cantidad_falso']=hashtag_cantidad_total['Cantidad_primero_falso']+hashtag_cantidad_total['Cantidad_segundo_falso']+hashtag_cantidad_total['Cantidad_tercero_falso']+hashtag_cantidad_total['Cantidad_cuarto_falso']+hashtag_cantidad_total['Cantidad_quinto_falso']+hashtag_cantidad_total['Cantidad_sexto_falso']+hashtag_cantidad_total['Cantidad_septimo_falso']+hashtag_cantidad_total['Cantidad_octavo_falso']+hashtag_cantidad_total['Cantidad_noveno_falso']+hashtag_cantidad_total['Cantidad_decimo_falso']+hashtag_cantidad_total['Cantidad_decimoprimero_falso']+hashtag_cantidad_total['Cantidad_decimosegundo_falso']+hashtag_cantidad_total['Cantidad_decimotercero_falso']
hashtag_cantidad_total.drop(columns={'Cantidad_primero_total','Cantidad_segundo_total','Cantidad_tercero_total','Cantidad_cuarto_total','Cantidad_quinto_total','Cantidad_sexto_total','Cantidad_septimo_total','Cantidad_octavo_total','Cantidad_noveno_total','Cantidad_decimo_total','Cantidad_decimoprimero_total','Cantidad_decimosegundo_total','Cantidad_decimotercero_total'},inplace=True)
hashtag_cantidad_total.drop(columns={'Cantidad_primero_real','Cantidad_segundo_real','Cantidad_tercero_real','Cantidad_cuarto_real','Cantidad_quinto_real','Cantidad_sexto_real','Cantidad_septimo_real','Cantidad_octavo_real','Cantidad_noveno_real','Cantidad_decimo_real','Cantidad_decimoprimero_real','Cantidad_decimosegundo_real','Cantidad_decimotercero_real'},inplace=True)
hashtag_cantidad_total.drop(columns={'Cantidad_primero_falso','Cantidad_segundo_falso','Cantidad_tercero_falso','Cantidad_cuarto_falso','Cantidad_quinto_falso','Cantidad_sexto_falso','Cantidad_septimo_falso','Cantidad_octavo_falso','Cantidad_noveno_falso','Cantidad_decimo_falso','Cantidad_decimoprimero_falso','Cantidad_decimosegundo_falso','Cantidad_decimotercero_falso'},inplace=True)
hashtag_cantidad_total.sort_values(by=['Cantidad_total'],ascending=False,inplace=True)
hashtag_cantidad_total=hashtag_cantidad_total[(hashtag_cantidad_total['Hashtag']!='???') & ((hashtag_cantidad_total['Hashtag']!='??'))]
hashtag_cantidad_total['Falso']=(hashtag_cantidad_total['Cantidad_falso']/hashtag_cantidad_total['Cantidad_total'])*100
hashtag_cantidad_total['Real']=(hashtag_cantidad_total['Cantidad_real']/hashtag_cantidad_total['Cantidad_total'])*100
hashtag_cantidad_total.drop(columns={'Cantidad_falso','Cantidad_real'},inplace=True)
df_hashtag_csv=hashtag_cantidad_total[['Hashtag']]
df_hashtag_csv.to_csv('Hashtags_Total.csv')